<?xml version="1.0" encoding="UTF-8"?>
<all-events>
    <events id="1">
        <onsubmit><![CDATA[javascript:return busquedaAvanzada(this,'#tabla_clientes');]]></onsubmit>
        <onreset><![CDATA[javascript:deshacerBusqueda(this,'#tabla_clientes');]]></onreset>
    </events>
    <events id="6">
        <onclick><![CDATA[javascript:eliminarVarios('[controllerName]',[ajax-index:delete_selected],'#tabla_[controllerName]');]]></onclick>
    </events>
    <events id="7">
        <onclick><![CDATA[javascript:actualizarFotos([ajax-index:getpictures],'[id]','[controllerName]','Fotos',[ajax-index:modifypictures],[ajax-index:pictures]);]]></onclick>
    </events>
    <events id="8">
        <onclick><![CDATA[javascript:modificar('[id]','[controllerName]',[ajax-index:getonexml],'Modificar',[ajax-index:poblaciones],[ajax-index:zonas]);]]></onclick>
    </events>
    <events id="9">
        <onclick><![CDATA[javascript:eliminar('[controllerName]',[ajax-index:delete],[id],$('#[id]'));]]></onclick>
    </events>
</all-events>
