<?php include './inc/header.php' ?>
<header class="site-header">
        <div id="header" style="background: #cdcdcd;">
          <nav class="navbar">
            <div id="headerTop" class="container">
                <ul class="nav navbar-nav navbar-right">
                    <li><a id="register" href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a id="login" href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
        </div>
   
          </nav>
  
        </header>
<p>Click on this paragraph.</p>
<?php include './views/register.html' ?>
<?php include './views/login.html' ?>
<?php include './inc/footer.php' ?>