<div style="display:none;">
<form id="regForm" action="#" method="post">
	<p id="reg_error">Please, fill required inputs</p>
	<input id="name" type="text" name="name" placeholder="Name"/>* <br>
	<input id="surname" type="text" name="surname" placeholder="Surname"/>* <br>
	<input id="email" type="email" name="email" placeholder="Email"/>* <br>
	<input id="website" type="text" name="site" placeholder="Website"/> <br>
	<input id="field" type="text" name="filed" placeholder="Field of work"/><br>

	<input id="password" type="password" name="password" placeholder="Password" />* <br>
	<input id="checkPass" type="password" name="passwordConf" placeholder="Repeat Password" />**   <br>

	<input type="submit" value="Register" />


	<p>-Register from Google</p>

	<input type="submit" value="G+" />


</form>
</div>
